body{
    /*background-color: #FBF0D9;*/
    /*background-color:black;*/
    /*background-image:url(../img/swatch.gif);*/
    background-color: #F5F3EE;
    color: #5F4B32;
    /*color: #009999;*/
}

.vcenter {
    display:table !important;
    position:relative;
    vertical-align: middle;
    float: none;
    min-height:100%;
}

.page-footer {
    position:relative !important;
}

.table{
    display:table;
    height:40px;
    margin-bottom:0!important;
}
.cell{
    display:table-cell;
}
.text-left{
    display:table-cell;
    max-width:33%;
    width:33%;
    text-align: left;
}

.editable{
    cursor: pointer;
}
.editable:hover{
    border-bottom: dashed 1px #0088cc;
}

.text-center{
    display:table-cell;
    max-width:33%;
    width:33%;
    text-align: center;
}

.text-right{
    display:table-cell;
    max-width:33%;
    width:33%;
    text-align: left;
}
/* Input form */
.my-form {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #e9eff3;
}
.my-textarea {
    margin-bottom: -13px;
}
.my-input {
    height: 35px;
    padding: 6px 12px;
    font-size: 1em;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}