.table{
    display:table;
    height:40px;
    margin-bottom:0!important;
}
.cell{
    display:table-cell;
}
.text-left{
    display:table-cell;
    max-width:33%;
    width:33%;
    text-align: left;
}

.text-center{
    display:table-cell;
    max-width:33%;
    width:33%;
    text-align: center;
}

.text-right{
    display:table-cell;
    max-width:33%;
    width:33%;
    text-align: left;
}
/* Input form */
.my-form {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #e9eff3;
}
.my-input {
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}