parameters:
    dblocal_host: 127.0.0.1
    dblocal_port: 3306
    dblocal_user: root
    dblocal_password: unknown
    dblocal_name: time
    version: pro
    fb_secret: 0c8146812ec3695850ccae3cf83669be
    fb_app: 597432860403092