<!DOCTYPE html>
<!--[if IE 8]> <html lang="fr" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="fr" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="fr"> <!--<![endif]-->
<html xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="fr">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Time{% endblock %}</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        {% include 'stylesheets.html.twig' %}
        <!-- END THEME STYLES -->

        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL STYLES --> 
        <!-- END PAGE LEVEL STYLES -->
        <link rel="shortcut icon" href="favicon.ico" />
    </head>

    <body class="page-header-fixed page-quick-sidebar-over-content page-full-width" style="min-width:1277px">
        <div class="clearfix">
        </div>
        {% block body %}
        {% endblock %}
        <!-- BEGIN FOOTER -->
        <div class="page-footer">
            <div class="footer-inner">
                Time 2014. All rights reserved.
                <br>
                Ce site est actuellement en bêta, merci de signaler toute erreur à fschneider@devatics.fr
            </div>
        </div>
        <!-- END FOOTER -->

        <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
        {% include 'javascripts.html.twig' %}
        {% block javascripts %}
        {% endblock %}
        <!-- END JAVASCRIPTS -->
    </body>

</html>
