<!DOCTYPE html>
<!--[if IE 8]> <html lang="fr" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="fr" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="fr"> <!--<![endif]-->
<html xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="fr">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Time{% endblock %}</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        {% include 'stylesheets.html.twig' %}
        <!-- END THEME STYLES -->

        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL STYLES --> 
        <!-- END PAGE LEVEL STYLES -->
        <link rel="shortcut icon" href="favicon.ico" />
    </head>

    <body class="page-header-fixed page-quick-sidebar-over-content page-full-width">
        <div style="height:50px;background-color:black;">
            <img src="public/img/devaticslogo.png" style="margin-top:10px;margin-left:10px;">
            {% block header %}
            {% endblock %}
        </div>
        <div class="clearfix">
        </div>
        {% block body %}
        {% endblock %}
        <!-- BEGIN FOOTER -->
        <div class="page-footer">
            <div class="footer-inner">
                Time 2014-2015. All rights reserved.
                <br>
                Ce site est actuellement en bêta, merci de signaler toute erreur à fschneider@devatics.com
            </div>
        </div>
        <!-- END FOOTER -->
        <div class="modal fade" id="modalShortKeys" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <table align="center">
                        <tbody><tr><td align="right" style="padding-bottom: 5px; padding-right: 5px"><kbd><kbd>Enter</kbd></td>  <td style="padding-left: 5px">Valider formulaire en cours ou valider edition</td></tr>
                            <tr><td align="right" style="padding-bottom: 5px; padding-right: 5px"><kbd>Esc</kbd></td>  <td style="padding-left: 5px">Quitter le mode édition</td></tr>
                            <tr><td align="right" style="padding-bottom: 5px; padding-right: 5px"><kbd>Shift</kbd> + <kbd>/</kbd></td>  <td style="padding-left: 5px">Commencer l'ajout d'une activité</td></tr>
                            <tr><td align="right" style="padding-bottom: 5px; padding-right: 5px"><kbd>Shift</kbd> + <kbd>E</kbd></td>  <td style="padding-left: 5px">Exporter le CSV</td></tr>
                            <tr><td align="right" style="padding-bottom: 5px; padding-right: 5px"><kbd>Shift</kbd> + <kbd>A</kbd></td>  <td style="padding-left: 5px">Aujourd'hui</td></tr>
                            <tr><td align="right" style="padding-bottom: 5px; padding-right: 5px"><kbd>Shift</kbd> + <kbd>P</kbd></td>  <td style="padding-left: 5px">Jour précédent</td></tr>
                            <tr><td align="right" style="padding-bottom: 5px; padding-right: 5px"><kbd>Shift</kbd> + <kbd>S</kbd></td>  <td style="padding-left: 5px">Jour suivant</td></tr>
                            <tr><td align="right" style="padding-bottom: 5px; padding-right: 5px"><kbd>Shift</kbd> + <kbd>I</kbd></td>  <td style="padding-left: 5px">Interrompt l'activité en cours</td></tr>
                            <tr><td align="right" style="padding-bottom: 5px; padding-right: 5px"><kbd>Alt</kbd> + <kbd>S</kbd></td>  <td style="padding-left: 5px">Start l'activité en cours d'ajout</td></tr>
                            <tr><td align="right" style="padding-bottom: 5px; padding-right: 5px"><kbd>Alt</kbd> + <kbd>T</kbd></td>  <td style="padding-left: 5px">Todo l'activité en cours d'ajout</td></tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-danger">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
        {% include 'javascripts.html.twig' %}
        {% block javascripts %}
        {% endblock %}
        <!-- END JAVASCRIPTS -->
    </body>

</html>
