<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner">
    </div>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <div class="page-content-wrapper">
        <div class="page-content" style="min-height:940px">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12" id="addActivity">
                        {% include "addActivity.html.twig" %}
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6" id="listActivity">
                        {% include "listActivity.html.twig" %}
                    </div>
                    <div class="col-md-6" id="diary">
                        {% include "diary.html.twig" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="footer-inner">
        DARim 2014. All rights reserved.
        <br>
        Ce site est actuellement en bêta, merci de signaler toute erreur à full-autof@hotmail.fr
    </div>
</div>
<!-- END FOOTER -->

<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
{% include 'javascripts.html.twig' %}
<!-- END JAVASCRIPTS -->