{% extends "base.html.twig" %}
{% block title %}DARim{% endblock %}
{% block body %}
<button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalShortKeys" style="position:absolute;right:10px;top:10px;height:20px;width:20px;margin:0;padding:0;z-index:999;"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></button>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <div class="page-content-wrapper">
        <div class="page-content" style="min-height:940px">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12" id="addActivity">
                        <button class='btn btn-warning' id='admin'>Admin</button>
                        <button class='btn btn-danger' id='logout'>Logout</button>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10" id="addActivity">
                        {% include "addActivity.html.twig" %}
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10" id="diary">
                        {% include "listActivities.html.twig" %}
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-7" id="listActivity">
                        {% include "listTodos.html.twig" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script src="public/js/jquery.clipboard.js" type="text/javascript"></script>
    <script src="public/js/darim.js" type="text/javascript" ></script>
    <script src="public/js/ActivityEdition.js" type="text/javascript" ></script>
    <script>
        $(document).ready(function() {
            
        });
    </script>
{% endblock %}