{% extends "base.html.twig" %}
{% block title %}DARim{% endblock %}
{% block body %}
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <div class="page-content-wrapper">
        <div class="page-content" style="min-height:940px">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12" id="addActivity">
                        <button class='btn btn-warning' id='admin'>Admin</button>
                        <button class='btn btn-danger' id='logout'>Logout</button>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10" id="addActivity">
                        {% include "addActivity.html.twig" %}
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10" id="diary">
                        {% include "listActivities.html.twig" %}
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-7" id="listActivity">
                        {% include "listTodos.html.twig" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script src="public/js/jquery.clipboard.js" type="text/javascript"></script>
    <script src="public/js/darim.js" type="text/javascript" ></script>
    <script src="public/js/ActivityEdition.js" type="text/javascript" ></script>
    <script>
        $(document).ready(function() {
            $('.selectpicker').selectpicker();
            $('button#copy').clipboard({
                path: 'public/js/jquery.clipboard.swf',
                copy: function() {
                    console.log('DAR copied. Paste it now!');
                    var darObject = {};
                    $('.dailyRow').each(function(index, obj) {
                        var clientName = $(obj).find('.activityClientName').text().trim();
                        var task = $(obj).find('.activityTask').text().trim();
                        var comment = $(obj).find('.activityComment').text().trim();
                        var comment = $(obj).find('.activityComment').text().trim();
                        var timeSpend = $(obj).find('.activitytimeSpend').text().trim();
                        var minutesSpend = 0;
                        if(timeSpend){
                            minutesSpend = parseInt(timeSpend.split('h')[0])*60 + parseInt(timeSpend.split('h')[1]);
                            console.log("hour" + parseInt(timeSpend.split('h')[0]));
                            console.log("minutes" + timeSpend.split('h')[1]);
                            console.log("minutesSpend" + minutesSpend);
                        }
                        if(!darObject.hasOwnProperty(clientName)){
                            darObject[clientName] = {};
                        }
                        if(!darObject[clientName].hasOwnProperty(task)){
                            darObject[clientName][task] = {};
                        }
                        if(!darObject[clientName][task].hasOwnProperty(comment)){
                            darObject[clientName][task][comment] = minutesSpend;
                            console.log(darObject[clientName][task][comment]);
                        }else{
                            darObject[clientName][task][comment] += minutesSpend;
                            console.log(darObject[clientName][task][comment]);
                        }
                    });
                    var dar = 'Aujourd\'hui';
                    for (var client in darObject) {
                        dar += ' \n' + client;
                        for (var task in darObject[client]) {
                            dar += '\n\t*' +task;
                            for (var comment in darObject[client][task]) {
                                dar += '\n\t\t- ' + comment;
                                //console.log('minutesSpend' + darObject[client][task][comment]);
                                console.log('minutesSpend '+ parseInt(darObject[client][task][comment]) + 'modulo ' + Math.floor(parseInt(darObject[client][task][comment])/90));
                                var modulo = Math.floor(parseInt(darObject[client][task][comment])/90);
                                for(var i = 0; i < modulo; i++){
                                    dar += ' (*)';
                                }
                            }
                        }
                    }
                    dar += '\n\nDemain \n';
                    $('.todoRow').each(function(index, obj) {
                        dar += $(obj).find('.todoRow_client_name').text().trim() + ' \n';
                        dar += '    *' +$(obj).find('.todoRow_task').text().trim();
                        dar += '/' +$(obj).find('.todoRow_comment').text().trim() + ' \n';
                    });
                    return dar;
                }
            });
            $('button#export').click(function(){
                var data = {'action':'get_csv'};
                $.ajax({
                    url: '//localhost/DARim/src/classes/ajaxActions.php',
                    type: 'GET',
                    data: data
                    ,
                    error: function() {
                        alert('change_day ko');
                    },
                    complete: function() {
                        console.log('its exported!');
                    }
                });
            });
            $('#admin').click(function(){
                window.location.href = "/DARim/admin";
            });
            $('#logout').click(function(){
                $.ajax({url: '//localhost/DARim/src/classes/ajaxActions.php',data: {'action':'logout'}});
                window.location.href = "/DARim/login";
            });
            if($('.error').length > 0){
                $('#export').prop('disabled', true);
            }else{

            }
        });
    </script>
{% endblock %}