{% extends "base.html.twig" %}
{% block title %}Login{% endblock %}
{% block body %}
    <script>
      // This is called with the results from from FB.getLoginStatus().
      function statusChangeCallback(response) {
        console.log('statusChangeCallback');
        console.log(response);
        // The response object is returned with a status field that lets the
        // app know the current login status of the person.
        // Full docs on the response object can be found in the documentation
        // for FB.getLoginStatus().
        if (response.status === 'connected') {
          // Logged into your app and Facebook.
          testAPI(response);
        } else if (response.status === 'not_authorized') {
          // The person is logged into Facebook, but not your app.
          document.getElementById('status').innerHTML = 'Please log ' +
            'into this app.';
        } else {
          // The person is not logged into Facebook, so we're not sure if
          // they are logged into this app or not.
          document.getElementById('status').innerHTML = 'Please log ' +
            'into Facebook.';
        }
      }

      // This function is called when someone finishes with the Login
      // Button.  See the onlogin handler attached to it in the sample
      // code below.
      function checkLoginState() {
        FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
        });
      }

      window.fbAsyncInit = function() {
      FB.init({
        appId      : '597432860403092',
        cookie     : true,  // enable cookies to allow the server to access 
                            // the session
        xfbml      : true,  // parse social plugins on this page
        version    : 'v2.1' // use version 2.1
      });

      // Now that we've initialized the JavaScript SDK, we call 
      // FB.getLoginStatus().  This function gets the state of the
      // person visiting this page and can return one of three states to
      // the callback you provide.  They can be:
      //
      // 1. Logged into your app ('connected')
      // 2. Logged into Facebook, but not your app ('not_authorized')
      // 3. Not logged into Facebook and can't tell if they are logged into
      //    your app or not.
      //
      // These three cases are handled in the callback function.

      FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
      });

      };

      // Load the SDK asynchronously
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/fr_FR/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

      // Here we run a very simple test of the Graph API after login is
      // successful.  See statusChangeCallback() for when this call is made.
      function testAPI(firstResponse) {
        var signedRequest = firstResponse.authResponse.signedRequest;
        var data = signedRequest.split('.')[1];
        data = JSON.parse(atob(data));
        user_id = data.user_id;
        FB.api('/me', function(response) {
          console.log(response);
          document.getElementById('status').innerHTML =
            'Thanks for logging in, ' + response.name + '!';
            $.ajax({
                url: 'src/classes/ajaxActions.php',
                type: 'GET',
                data: {'action':'loginFb', 'signed_request':firstResponse.authResponse.signedRequest,'user_name' : response.name,'user_id' : response.id}
                ,
                success: function() {
                    window.location.href = "home";
                },
                error: function() {
                    console.log('testLoginFb ko');
                }
            });
        });
      }
    </script>
    <div class="admin-form" id="login-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="widget-content">
                        <div id='vcenter' class="row vcenter">
                            <form action="" method="post" class="form-horizontal" style="float:left">
                                Already an account ?
                                {% if error %}
                                    {{error}}
                                {% endif %}
                                <div class="form-group">
                                    <label class="control-label col-mg-5" for="username">Login</label>
                                    <div class="col-mg-7">
                                        <input type="text" id="username" name="login" class="form-control" value="" required="required" placeholder="Login">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-mg-5 " for="password">Password</label>
                                    <div class="col-mg-7">
                                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                                    </div>
                                </div>
                                <button type="submit" name="action" value="submit" class="addActivity btn submit btn-primary" style="margin-left:65px;font-size:0.7em;">Se connecter</button>
                            </form>
                            <div style="float:right; margin-left:100px;margin-top:80px;">
                                <div>Or login with Facebook :</div>
                                <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
                                </fb:login-button>
                                <div id="status">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $(function(){
            var blockWidth = 150,
                blockHeight = 150,
                leftPos = ($(window).innerWidth() - blockWidth) / 2,
                topPos = ($(window).innerHeight() - blockHeight) /2;
            $('#vcenter').css({'top':topPos,'left':leftPos})
            $('.page-footer').css({'top':$(window).innerHeight()})
            $(document).resize(function() {
                leftPos = ($(window).innerWidth() - blockWidth) / 2;
                topPos = ($(window).innerHeight() - blockHeight) /2;
                $('#vcenter').css({
                    'left' : leftPos+'px',
                    'top'  : topPos+'px'
                });
                $('.page-footer').css({'top':$(window).innerHeight()})
            });
            document.getElementById("username").focus();
        })
    </script>
{% endblock %}